


body{
    background: #f4f4f4;
    overflow: auto;
    
}
/*-----------------CSS of the head section begins here----------------------------------*/


.section1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;	
    font-size: 12px;
}

.B-headsection img{
     width: 20%;
     margin-right:0;
     padding-right: 0;
}

    

.A-headsection img{
    width: 80%;
    margin-right:0;
}

#headsection{
    display: flex; 
}
.sidetext{
    margin-left: -20rem;
    padding-top: 4px;
}
.A-sidetext{
    width: 30rem;
    padding-top: 2rem;
}

#last-img-headsection img{
    width: 50%;
    margin-left: -1rem;
}

/*-----------------CSS of the head section ends here----------------------------------*/






.col-xs-3{
	display: flex;	
	padding: 5px;
	margin-right: auto;
	margin-left: auto;	
}

@media(min-width: 700px){
	.row{
		display: flex;
	}
}






/*---------------------------------------------------------------------------
the card sections with images begins here----------------------------------------------*/

.A-cardSection img{
    width: 150%;
}

.B-cardSection{
    margin-top: 7px;
}

.A-card{
    color: white;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;   
    width: 90%;
}

.text-box{
    position: absolute;
    bottom: 40%;
    right: 30%;
    padding: 0 20px 0 20px;
    font-family: "sans";
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
}

.text-box h6{
    color: #fff;
}
.rtg{
    display: inline-flex;
    margin-top: -4%;
    overflow: hidden;
    
}
.rtg img{
    width: 100%;
}

.image{
    border-radius: 5px; 
}



@media (max-width: 600px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .image{
        max-width: 100%;
        margin-top: 5px;
        height: 100px;
        
       
    }
}

/*goodluck stephen*/
/*--------------------SELLING PRODUCT--------------------*/
.content img{
    width: 100%;
    padding-top: 4px;
    
    }
    .selling-product{
        cursor: pointer;
    }
    
    .A-zoom:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    
    .selling-product h4{
        background: black;
        color: white;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .B-content h6{
        margin-top: -0.9rem;
    }
    .B-content p{
          font-size: 12px;
         
    }
    .col-sm-6 {
        width: 60% !important;
        margin-bottom: 1rem;
        
    }
    .naira{
        text-decoration: line-through;
    }
    
    .rate{
        background: red;
       color: white;
       border-top-right-radius: 5px;
       border-bottom-right-radius: 5px;
       padding: 2px 5px;
       font-size: 12px;
       text-align: center;
       position: absolute;
       font-weight: bold;
    }
    
    .B-content sup{
        text-decoration: line-through;
        color: rgb(68, 67, 67);
        opacity: .6;
    }
    .B-content span{
        text-decoration: line-through;
    }
    
    #phone-image{
        width: 70%;
        margin-left:1rem;
    }
    .saving{
        color: rgb(29, 185, 120);
        margin-top: -0.5rem;
    }
    
    .content{
        color: rgb(230, 84, 84);
    }
    
    
    .selling-product .col-md-2{
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    background: white;
    box-sizing: border-box;
    box-shadow: 1px 1px  2px rgba(105, 104, 104, 0.8);
    height: 13.6rem;
    margin-right: 10px;
    }