

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
    font-family: Helvetica, Arial, sans-serif;
}


/* 1st navbar */
.navbar ul li {
    transition: background 0.3s ease-in;
}
.navbar ul li:hover {
    background-color: #f6f6f6;
}
.navbar ul li a:hover {
    color: #ed017f !important;
}

/* 2nd navbar */
.nav2 {
     background-color: #94004f; 
}
.nav2 ul{
    max-width: 90rem;
    height: 2.5rem;
    overflow: hidden;
    margin: 0 -1rem;
}
.nav2 ul li {
    white-space: nowrap;
    height: inherit;
    font-size: 0.87rem;
    position: relative;
    transition: background 0.3s ease-in;
}
.nav2 ul a {
    color: #fff;
    cursor: pointer;
}
.nav2 ul a:hover {
    color: rgb(4, 4, 4);
}
.nav2 ul li:hover {
    background-color: #f6f6f6;
}
.nav2 ul a:hover i {
    display: none;
}

.hiddennav {
    display: none !important;
    background: #fff;
    z-index: -20;
    padding: 0.5rem 0;
} 

.hiddennav .col a {
    text-align: center;
    color: #1c1d1f;
    font-size: 0.87rem;
    display: inline-block;
    text-decoration: none;
    
}



/* on screens less than 700px */



@media only screen and (max-width: 700px) {
    .hiddennav {
        display: block !important;
    }
    .nav2 {
        display: none;
    }
    header {
        display: none !important;
    }
}

/* 


/* Dropdown Button */

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 90rem;
    height: 100vh;
    margin: 10% -5%;
    padding: 0 -1rem;
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    align-items: left;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
/*carousel section*/
.carousel-container-length {
    background-color: #f6f6f6;
    padding-top: 1em;
}

.ads-wrapper {
    width: 100%;
    height: auto;
}

.ads-container {
    width: 50%;
}

.ads-container:nth-child(odd) {
    padding-right: .5em;
    padding-top: 1em;
}

.ads-container:nth-child(even) {
    padding-left: .5em;
    padding-top: 1em
}

.ads-container img {
    width: 100%;
    background-size: cover;
    height: 100%;
}

.bd-radius {
    border: 1px solid transparent;
    border-radius: 7px;
}

@media (min-width: 992px) {
    .carousel-container {
        width: 70%;
    }
    
    .ads-wrapper {
        width: 30%;
        height: auto;
        margin-left: 1em;
    }
    .ads-container {
        width: 50%;
        height: 29vh;
    }

    .ads-container:nth-child(odd) {
        padding-right: .5em;
        padding-top: 0;
    }
    
    .ads-container:nth-child(even) {
        padding-left: .5em;
        padding-top: 0;
    }

    .ads-container:nth-child(3) {
        padding-top: 1em;
    }
    
    .ads-container:nth-child(4) {
        padding-top: 1em;
    }
    
    .img-styling {
        height: 57.5vh;
    }
}

/*-----bottom-icons-----*/
.bottom-icons{
  margin: 100px auto;
}
.col-1{
  margin-top: 30px;
  margin-left: 70px;
}
.col-1 img{width: 122px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px;
  padding-right: 0px;
}
@media only screen and (max-width: 700px) {
  .resposive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/**********GROUP 2 CSS**********/
div.laptop-div{



  width :20rem;

  height :20rem ;

  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.23)!important ;

}

div.laptop-div img{

  height: 10rem ;

}

div.laptop-div card-body {

  line-height: 0.5;

}

div.kayla-pix{

  max-width :13rem;

  height :auto ;

  padding-bottom: 0;

  margin :2rem 0;

}

/*media query */

@media all and (min-width:768px){

  div.laptop-div{

  height :auto ;

  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1), 0px -2px 3px 2px rgba(0, 0, 0, 0.1)!important ;

  }

div.laptop-div img{

  height: 5rem ;

  margin-top: 0.75rem ;

  }

div.laptop-div card-body {

  line-height: 0.5;

  }

}

